    <%- include("header.ejs") -%>

    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
      <% listItemsToDisplay.forEach((item, i) => { %>
        <form action="/del" method="post">
          <div class="item">
            <input type="checkbox" name="chk_item" value="<%= item._id %>" onchange="this.form.submit()">
              <p> <%= item.name %> </p>
          </div>
        </form>
      <% }); %>


      <form class="item" action="/" method="post">
        <input type="text" name="txt_todo" placeholder="etwas eingeben" required autocomplete="off">
        <button type="submit" name="btn_add" value="<%= listTitle %>">+</button>
      </form>
    </div>

    <%- include("footer.ejs") -%>
