<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
  </head>
  <body>
      <% if(dayOfTheWeek === "Samstag" || dayOfTheWeek === "Sonntag"){ %>
          <h1 style="color:red;">Heute ist <%= dayOfTheWeek %></h1>
      <% }else {%>
            <h1 style="color:blue;">Heute ist <%= dayOfTheWeek %></h1>
      <% } %>
  </body>
</html>
